@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-width: 300px;
}

body {
  @apply bg-base-100 text-base-content;
}

.drawer-side {
  width: var(--sidebar-width) !important;
}

.drawer.drawer-open > .drawer-content {
  padding-left: var(--sidebar-width);
} 